



{% extends "base.html"  %}

 {% block content %}




<div class="menu-bar">
  <ul>
      <li ><i class="fa fa-home"></i><a href="/">Home</a></li>
      <li  ><i class="fa fa-list"></i><a href="list">List S3 Buckets</a></li>
      <li class="active"><a href="/bucketForm">Create/Delete Bucket</a><i class="fa fa-plus"></i>/<i class="fa fa-minus"></i></li>
      <li><a href="/folderForm">Create/Delete folder</a><i class="fa fa-plus"></i>/<i class="fa fa-minus"></i></i></li>
      <li><i class="fa fa-upload" aria-hidden="true"></i><a href="/uploadForm">Upload files</a></li>
      <li><i class="fa fa-trash" aria-hidden="true"></i><a href="/deleteForm">Delete files</a> </li>
      <li><i class="fa fa-copy"></i><a href="/copyForm">copy/move files</a></li>
  </ul>
</div>

<div class="form_container">
<h1>Enter details to create/delete a bucket :</h1>

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<div class="cust-form">
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="bucketName">Enter name of the bucket :</label>
      <input type="text" class="form-control" id="Bucket_Name" placeholder="bucket_name" name="bucketName" required>
    </div>
    <a href="createBucket">
      <button formaction="createBucket" type="submit" class="btn btn-success">Create</button>
    </a>
    <a href="deleteBucket">
      <button formaction="deleteBucket" type="submit" class="btn btn-danger">
Delete</button>
    </a>
  </form>
</div>
</div>

{% endblock  %}
