<!-- <!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    h1 {
      text-align: center;
      margin-top: 4%;
      margin-bottom: 4%;
    }

    h2 {
      text-align: center;
      margin-top: 4%;
      margin-bottom: 4%;
      color: red;
    }

    .cust-form {
      margin-left: 10%;
      margin-right: 10%;
    }
  </style>
  <title>Create/Delete Folder</title>
</head>

<body>
  <h1>Enter details to create/delete a folder :</h1>

  {% for message in get_flashed_messages() %}
  <h2>{{ message }}</h2>
  {% endfor %}

  <div class="cust-form">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="bucketName">Enter name of the bucket :</label>
        <input type="text" class="form-control" id="bucketName" name="bucketName" required>
      </div>
      <div class="form-group">
        <label for="folderName">Enter the name of folder :</label>
        <input type="text" class="form-control" id="folderName" name="folderName" required>
      </div>
      <a href="create">
        <button formaction="create" type="submit" class="btn btn-primary">
          Create</button>
      </a>
      <a href="delete">
        <button formaction="delete" type="submit" class="btn btn-primary">
          Delete</button>
      </a>
    </form>
  </div>

</body>

</html> -->


{% extends "base.html"  %}

 {% block content %}


<div class="menu-bar">
    <ul>
        <li ><i class="fa fa-home"></i><a href="/index">Home</a></li>
        <li ><i class="fa fa-list"></i><a href="/list">List S3 Buckets</a></li>
        <li><a href="/bucketForm">Create/Delete Bucket</a><i class="fa fa-plus"></i>/<i class="fa fa-minus"></i></li>
        <li class="active" ><a href="/folderForm">Create/Delete folder</a><i class="fa fa-plus"></i>/<i class="fa fa-minus"></i></i></li>
        <li><i class="fa fa-upload" aria-hidden="true"></i><a href="/uploadForm">Upload files</a></li>
        <li><i class="fa fa-trash" aria-hidden="true"></i><a href="/deleteForm">Delete files</a> </li>
        <li><i class="fa fa-copy"></i><a href="copyForm">copy/move files</a></li>
    </ul>
</div>

<div class="form_container">
<h1>Enter details to create/delete a folder :</h1>

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<div class="cust-form">
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="bucketName">Enter name of the bucket :</label>
      <input type="text" class="form-control" id="bucketName" placeholder="Bucket_name" name="bucketName" required>
    </div>
    <div class="form-group">
      <label for="folderName">Enter the name of folder :</label>
      <input type="text" class="form-control" id="folderName" placeholder="Folder_name" name="folderName" required>
    </div>
    <a href="create">
      <button formaction="create" type="submit" class="btn btn-success">
        Create</button>
    </a>
    <a href="delete">
      <button formaction="delete" type="submit" class="btn btn-danger">
        Delete</button>
    </a>
  </form>
</div>
</div>
{% endblock  %}